.header__lang-link {
    margin: 0;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    opacity: 1;
}

.header__lang-link:hover {
    transition: 0.4s;
    opacity: 0.8;
}