.page {
  font-family: inter, Arial, Helvetica, sans-serif;
  max-width: 1280px;
  background-color: #2a2c2f;
  color: #ffffff;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: 400;
}

div,
section,
header,
footer,
main,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a {
  border: solid 0.5px red;
}