/*.photo-grid {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  object-fit: cover;
  justify-content: center;
  gap: 16px;
  justify-items: center;
  margin: 0 auto;
  padding: 0;
}*/

.photo-grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  object-fit: cover;
  gap: 16px;
  padding: 0;
  justify-self: center;
}

@media screen and (max-width: 1240px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 996px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    gap: 16px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: none;
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    gap: 12px;
    max-width: 288px;
  }
}
