.photo-grid {
    display: grid;
    height: 671px;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    object-fit: cover;
    justify-content: center;
    gap: 16px;
    justify-items: center;
    margin: 0 48px;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 1124px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
        margin: 0 auto;
        height: 942px;
    }
}

@media screen and (max-width: 868px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
        justify-items: center;
        height: 1664px;
    }
}


@media screen and (max-width: 660px) {
    .photo-grid {
        gap: 16px;
        justify-items: center;
        height: 2724px;
    }
}

@media screen and (max-width: 568px) {
    .photo-grid {
        grid-template-columns: none;
        grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
        gap: 12px;
        margin: 0 16px;
        max-width: 288px;
        height: 2724px;
    }
}
