.lead {
  max-width: 984px;
  max-height: 1005px;
  margin-top: 56px;
  margin-left: 148px;
  margin-right: 148px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media screen and (max-width: 1124px) {
  .lead {
    margin: 48px auto;
    max-height: 962px;
    max-width: 928px;
  }
}

@media screen and (max-width: 770px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 350px) {
  .lead {
    max-height: 406px;
  }
}