.header__logo {
<<<<<<< HEAD
  max-width: 176px;
  max-height: 52px;
}



@media screen and (max-width: 568px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}
=======
  width: 176px;
  height: 52px;
  top: 28px;
  left: 48px;
}
>>>>>>> 6c30cd0d9e8564a118483bc452087ea4b622e6b9
