.photo-grid__item {
    max-width: 284px;
    max-height: 213px;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 1124px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }
}

@media screen and (max-width: 984px) {
    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }
}

@media screen and (max-width: 568px) {
    .photo-grid__item {
        max-width: 100%;
        max-height: 100vh;
    }
}
