.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-height: 52px;
    margin: 28px auto 0;
    padding: 0 48px;
}

@media screen and (max-width: 1124px) {
    .header {
        padding: 0;
    }
}




@media screen and (max-width: 568px) {
    .header {
        margin: 16px 16px 0;
        width: 95%;
        max-height: 42px;
    }
}