.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 28px 48px 0;
    align-items: flex-end;
}

@media screen and (max-width: 1124px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 945px) {
    .header {
        max-width: 820px;
    }
}

@media screen and (max-width: 820px) {
    .header {
        min-width: 720px;
        margin: 28px 24px 0;
        max-width: 100%;

    }
}

@media screen and (max-width: 568px) {
    .header {
        margin: 16px 16px 0;
        max-height: 42px;
        min-width: 288px;
        max-width: 90%;
    }
}