.footer {
    margin: 0 48px 24px;
    display: flex;
    max-width: 1184px;
    max-height: 18px;
    justify-content: space-between;
    padding: 0;
}

@media screen and (max-width: 1117px) {
    .footer {
        max-width: 928px;
        align-items: center;
    }
}



@media screen and (max-width: 924px) {
    .footer {
        max-width: 720px;
        margin: 0 24px 24px;
        padding: 0;
        align-items: flex-end;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        margin-left: 16px;
        flex-direction: column;
    }
}