.content {
  display: grid;
  grid-row-gap: 92px;
}

@media screen and (max-width: 984px) {
  .content {
    grid-row-gap: 88px;
  }
}

@media screen and (max-width: 868px) {
  .content {
    grid-row-gap: 70px;
  }
}


@media screen and (max-width: 568px) {
  .content {
    grid-row-gap: 68px;
  }
}


@media screen and (max-width: 430px) {
  .content {
    grid-row-gap: 64px;
  }
}

/*подсказонька*/