.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

@media screen and (max-width: 660px) {
    .footer__copyright {
        line-height: 14px;
        justify-content: flex-start;
        margin-top: 20px;
    }
}
