.lead__image {
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 1124px) {
  .lead__image {
    max-height: 580px;
  }
}

@media screen and (max-width: 695px) {
  .lead__image {
    max-width: 320px;
    max-height: none;
  }
}
