.intro {
    max-width: 690px;
    min-height: 429px;
    display: flex;
    margin-left: 148px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: 1050px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 968px) {
    .intro {
        margin-left: 24px;
    }
}

@media screen and (max-width: 568px) {
    .intro {
        margin-left: 16px;
    }
}