.intro {
  max-width: 690px;
  display: flex;
  padding: 0 148px 0;
  flex-direction: column;
}

@media screen and (max-width: 1121px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 769px) {
  .intro {
    padding: 0 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 695px) {
  .intro {
    padding: 0 16px;
    max-width: 288px;
    margin: 0 auto;
  }
}
