.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  left: 320px;
  top: 368px;
  text-align: center;
  margin: 0 auto 64px;
}

@media screen and (max-width: 1124px) {
  .lead__subtitle {
    margin: 16px auto 56px;
    max-width: 640px;

  }
}


@media screen and (max-width: 730px) {
  .lead__subtitle {
    max-width: 300px;
    margin: 0 auto 52px;
  }
}

@media screen and (max-width: 362px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}