.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  width: 640px;
  height: 72px;
  left: 320px;
  top: 368px;
  text-align: center;
}
