.place__link {
    color: #ffffff;
    opacity: 0.9;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;

}

.place__link:hover {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    transition: 0.4s;
    color: #ffffff;
    opacity: 1;
}