.content__section {
  box-sizing: border-box;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1124px) {
  .content__section {
    padding: 0;
  }
}
<<<<<<< HEAD

/*подсказонька*/
=======
>>>>>>> 6c30cd0d9e8564a118483bc452087ea4b622e6b9
