.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
<<<<<<< HEAD
=======
  /* margin: 245px 360px 32px;*/
>>>>>>> 6c30cd0d9e8564a118483bc452087ea4b622e6b9
  margin: 0 0 16px;
}

@media screen and (max-width: 568px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 8px;
<<<<<<< HEAD
    max-width: 288px;
  }
}


/*подсказонька*/
=======
    max-width: 88px;
  }
}
>>>>>>> 6c30cd0d9e8564a118483bc452087ea4b622e6b9
