.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
    row-gap: 48px;
    box-sizing: border-box;
    justify-content: space-between;
    justify-items: start;
    align-content: space-evenly;
}


@media screen and (max-width: 1124px) {
    .place {
        margin: 0 auto;
        column-gap: 32px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 984px) {
    .place {
        column-gap: 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 660px) {
    .place {
        grid-template-columns: none;
        grid-template-rows: 35px 1fr;
        row-gap: 32px;
        margin: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 568px) {
    .place {
        grid-template-columns: none;
        grid-template-rows: none;
        row-gap: 32px;
        margin: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 568px) {
    .place:first-child {
        height: 1042px;
    }
}

@media screen and (max-width: 568px) {
    .place:nth-child(2) {
        max-height: 1016px;
    }
}

@media screen and (max-width: 568px) {
    .place:nth-child(3) {
        max-height: 990px;
    }
}

@media screen and (max-width: 568px) {
    .place:nth-child(4) {
        height: 964px;
    }
}

@media screen and (max-width: 568px) {
    .place:last-child {
        max-height: 965px;
    }
}
