.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    max-width: 984px;
    column-gap: 40px;
    row-gap: 48px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    justify-items: start;
    align-content: space-evenly;
}


@media screen and (max-width: 1124px) {
    .place {
        margin: 0 auto;
        max-width: 928px;
        column-gap: 32px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 984px) {
    .place {
        margin: 0 24px;
        max-width: 720px;
        column-gap: 28px;
        grid-template-columns: 340px 1fr;

    }
}

@media screen and (max-width: 568px) {
    .place {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: none;
        row-gap: 32px;
        margin: 0;
        justify-content: center;
    }
}