.footer {
  margin: 0 48px 24px;
  display: flex;
  max-width: 1184px;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

@media screen and (max-width: 1117px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    max-width: 720px;
    margin: 10px 24px 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 695px) {
  .footer {
    display: block;
    max-width: 320px;
    padding: 0 0 24px 16px;
    margin: 0;
  }
}
