.footer {
    margin: 0 48px 24px;
    display: flex;
    max-width: 1184px;
    max-height: 18px;
    justify-content: space-between;
    padding: 0 48px;
}

@media screen and (max-width: 1117px) {
    .footer {
        padding: 0;
        width: 95%;
    }
}



@media screen and (max-width: 780px) {
    .footer {
        width: 720px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        margin: 0 auto 24px 16px;
        flex-direction: column;
        width: 95%;
    }
}