.intro__title {
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  /*font-size: calc(32px + 22 * (100vw / 1280));
  line-height: calc(35px + 23 * (100vw / 1280));*/
}


@media screen and (max-width: 695px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    /*font-size: calc(32px + (22 + 22 * 0.7) * ((100vw - 320px) / 1280));
    line-height: calc(35px + (23 + 23*0.7) * ((100vw - 320px)/ 1280));*/
  }
}
